#match-inspecter {
    /* background-color: #24292e; */
    position: absolute;
    width: 100%;
    height: 470px;
    display: flex;
    align-items: center;
    text-align: center;
    /* border-radius: 5px; */
}
#match-inspecter.match-hide {
    display: none;
}
.match-loading {
    margin: auto;
}
.match-fail {
    margin: auto;
    font-size: 1.4em;
    font-weight: 700;
}

.match {
    background-color: #010e17;
    width: 730px;
    margin: auto;
    border-radius: 5px;
}
.match.Win {
    border: solid 5px #22c4d5d0;
}
.match.Lose {
    border: solid 5px #e5133cd0;
}
.match.Remake {
    border: solid 5px gray;
}

/* HEADER */
.match-header {
    display: inline-flex;
    width: 100%;
    text-align: left;
    align-items: flex-end;
    margin-left: 5px;

    color: #f0e6d2;

}
.win-rect.Win {
    color: #22c4d5d0;
}
.win-rect.Lose {
    color: #e5133cd0;
}
.win-rect.Remake {
    color: gray;
}

.match-header-win {
    text-align: left;
    font-size: 1.4em;
    font-weight: 700;
}

.match-header-duration {
    
    margin-left: 5px;
}

.cur-log {
    background-color: gray;
    color: #24292e;
    font-weight: 700;
}
.cur-log.log-Win {
    background-color: #22c4d5d0;
}
.cur-log.log-Lose {
    background-color: #e5133cd0;
}

.team {
    color: #f0e6d2;
    display: table;
    margin: auto;
    font-weight: 600;
}

/* .team.Win {
    border: solid 5px #22c4d5d0;
}
.team.Lose {
    border: solid 5px #e5133cd0;
} */
.team-header {
    display: table-header-group;
    color: #a09b8c;
}
.team-container {
    display: table-row-group;
}
.team-part {
    display: table-row;
    
}
.cell {
    display: table-cell;
    height: 0px;
}

.inner-cell {
    display: inline-flex;
    float:left;
    align-items: center;
    height: 100%;
}

/* header */
.inner-cell-header {
    display: inline-flex;
    align-items: center;
    height: 30px;
}

.text-color-Win {
    color: #22c4d5d0;
}
.text-color-Lose {
    color: #e5133cd0;
}
.text-color-Remake {
    color: gray;
}
.header-team {
    text-align: left;
    width: 100%;
}

/* .text-Blue {
    color: #22c4d5d0;
}
.text-Red {
    color: #e5133cd0;
} */

.text-kda-header {
    width: 30px;
}
.icon-header {
    width: 18px;
    height: 18px;
    filter: opacity(0.5) drop-shadow(0 0 0 #011925) saturate(100%);
}
.icon-header.Win {
    filter: opacity(0.5) drop-shadow(0 0 0 #22c4d5) saturate(200%);
}
.icon-header.Lose {
    filter: opacity(0.5) drop-shadow(0 0 0 #e5133c) saturate(200%);
}

.text-gold-header {
    margin-right: 10px;
}

/* part-champ */
.part-rune {
    position: relative;
    width: 40px;
    height: 25px;
    text-align: left;
}

.rune-main {
    width: 25px;
    height: 25px;
    border-radius: 15px;
}
.rune-sub {
    position: absolute;
    left: 18px;
    top: 10px;
    width: 14px;
    height: 14px;
    background-color: #011925;
    border-radius: 8px;
    padding: 1px;
}

.part-spell {
    width: 20px;
}

.part-spell img {
    float:left;
    width: 15px;
    height: 15px;
}

.spell1 {
    border: solid 1px #463714;
}
.spell2 {
    border: solid 1px #463714;
    border-top: none;
}

.part-level {
    width: 25px;
}

/* part-name */
.part-name {
    width: 150px;
}
.part-link {
    width: 120px;
    padding-left: 5px;
    font-size: 0.8em;
    font-weight: 500;
    text-align: left;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;

    color: #f0e6d2;
    text-decoration: none;
}
.part-link:hover {
    text-decoration: underline;
}
.part-icon {
    position: relative;
    height: 32px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.part-icon img {
    width: 32px;
    height: 32px;
    border-radius: 16px;
}
.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 0px 2px #af8830;
    border-radius: 100%;
    top: 0;
    left: 0;
}

/* part-item */
.part-item {
    position: relative;
}
.item {
    float:left;
    width: 25px;
    height: 25px;
    background-color: #011925;
    border: solid 1px #463714;
    border-left: none;
}
.item-first {
    border-left: solid 1px #463714;
}
.vision-score {
    position: absolute;
    display: flex;
    left: 157px;
    width: 25px;
    height: 25px;
    align-items: flex-end;
    text-align: center;
}
.vision-score span {
    width: 100%;
    color: white;
    font-size: 0.8em;
    text-shadow:
    -1px -1px 0 #24292e,  
     1px -1px 0 #24292e,
     -1px 1px 0 #24292e,
      1px 1px 0 #24292e;
}

/* part-kda */
.padding-cell {
    padding-left: 30px;
}
.text-kda {
    width: 30px;
}
/* .text-kill-participation {
    width: 50px;
    font-size: 0.8em;
} */

/* part-cs */
.text-cs {
    width: 40px;
}
/* .text-cs-min {
    width: 35px;
    font-size: 0.8em;
} */

/* part-gold */
.text-gold {
    text-align: left;
    width: 65px;
}

/* part-damage */
/* .text-damage {
    padding-left: 20px;
    text-align: left;
    width: 80px;
} */

/* Me */
.is-me {
    color: #fabe0a;
}
.is-me .shadow {
    box-shadow: inset 0px 0px 0px 2px #fabe0a;
}
.is-me .part-link {
    color: #fabe0a;
    font-weight: 600;
}