#match-inspecter {
    position: absolute;
    width: 100%;
}

.team {
    background-color: #011925;
    color: #f0e6d2;
    display: table;
    margin: auto;
    font-weight: 600;
}
.team-header {
    display: table-header-group;
    color: #a09b8c;
}
.team-container {
    display: table-row-group;
}
.team-part {
    display: table-row;
    
}
.cell {
    display: table-cell;
    height: 0px;
}

.inner-cell {
    display: inline-flex;
    float:left;
    align-items: center;
    height: 100%;
}

/* header */
.inner-cell-header {
    display: inline-flex;
    align-items: center;
    height: 30px;
}

.text-color-Win {
    color: #098fa2;
}
.text-color-Lose {
    color: #be1e37;
}
.text-color-Remake {
    color: gray;
}
.text-team {
    font-size: 0.8em;
}
.text-Blue {
    color: #098fa2;
}
.text-Red {
    color: #be1e37;
}

.text-kda-header {
    width: 30px;
}
.icon-header {
    width: 18px;
    height: 18px;
    filter: opacity(0.5) drop-shadow(0 0 0 #011925) saturate(100%);
}
.icon-header.Win {
    filter: opacity(0.5) drop-shadow(0 0 0 #098fa2) saturate(200%);
}
.icon-header.Lose {
    filter: opacity(0.5) drop-shadow(0 0 0 #be1e37) saturate(200%);
}

.text-gold-header {
    margin-right: 10px;
}

/* part-champ */
.part-rune {
    position: relative;
    width: 40px;
    height: 25px;
    text-align: left;
}

.rune-main {
    width: 25px;
    height: 25px;
    border-radius: 15px;
}
.rune-sub {
    position: absolute;
    left: 18px;
    top: 10px;
    width: 14px;
    height: 14px;
    background-color: black;
    border-radius: 8px;
    padding: 1px;
}

.part-spell {
    width: 20px;
}

.part-spell img {
    float:left;
    width: 15px;
    height: 15px;
}

.spell1 {
    border: solid 1px #463714;
}
.spell2 {
    border: solid 1px #463714;
    border-top: none;
}

.part-level {
    width: 25px;
}

/* part-name */
.part-name {
    width: 150px;
}
.part-name span {
    width: 120px;
    padding-left: 5px;
    font-size: 0.8em;
    font-weight: 500;
    text-align: left;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.part-icon {
    position: relative;
    height: 30px;
}
.part-icon img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 0px 2px #af8830;
    border-radius: 15px;
    top: 0;
    left: 0;
}

/* part-item */
.part-item {
    position: relative;
}
.item {
    float:left;
    width: 25px;
    height: 25px;
    color: #011925;
    border: solid 1px #463714;
    border-left: none;
}
.item-first {
    border-left: solid 1px #463714;
}
.vision-score {
    position: absolute;
    display: flex;
    left: 157px;
    width: 25px;
    height: 25px;
    align-items: flex-end;
    text-align: center;
}
.vision-score span {
    width: 100%;
    color: white;
    font-size: 0.8em;
    text-shadow:
    -1px -1px 0 #24292e,  
     1px -1px 0 #24292e,
     -1px 1px 0 #24292e,
      1px 1px 0 #24292e;
}

/* part-kda */
.text-kda {
    width: 30px;
}
.text-kill-participation {
    width: 50px;
    font-size: 0.8em;
}

/* part-cs */
.text-cs {
    width: 40px;
}
.text-cs-min {
    width: 35px;
    font-size: 0.8em;
}

/* part-gold */
.text-gold {
    padding-left: 20px;
    text-align: left;
    width: 80px;
}

/* part-damage */
.text-damage {
    padding-left: 20px;
    text-align: left;
    width: 80px;
}

/* Me */
.is-me {
    color: #fabe0a;
}
.is-me .shadow {
    box-shadow: inset 0px 0px 0px 2px #fabe0a;
}