#match-inspecter {
    position: absolute;
    width: 100%;
}

.match {
}

.match div {
    border: 1px solid black;
}

.team {
    display: table;
    margin: auto;
}
.team-header {
    display: table-header-group;
}
.team-container {
    display: table-row-group;
}
.team-part {
    display: table-row;
    
}
.cell {
    display: table-cell;
    height: 0px;
}

.inner-cell {
    display: inline-flex;
    float:left;
    align-items: center;
    height: 100%;
}

/* part-champ */
.part-rune {
    position: relative;
    width: 40px;
    height: 25px;
    text-align: left;
}

.rune-main {
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 15px;
}
.rune-sub {
    position: absolute;
    left: 18px;
    top: 10px;
    width: 14px;
    height: 14px;
    background-color: black;
    border-radius: 8px;
    padding: 1px;
}

.part-spell {
    width: 20px;
}

.part-spell img {
    float:left;
    width: 15px;
    height: 15px;
}

.part-level {
    width: 25px;
    font-size: 1.2em;
    font-weight: 700;
}

/* part-name */
.part-name {
    font-weight: 700;
    width: 150px;
}
.part-name span {
    width: 120px;
    padding-left: 5px;
    text-align: left;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.part-icon {
    height: 30px;
}
.part-icon img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}



.part-item img {
    float:left;
    width: 30px;
}

