#user-games-recent{
    display: grid;
    grid-template-columns: auto 740px;
}
.recent-cell {
    margin: auto;
}
.recent-game-wrapper {
    margin-bottom: 10px;
}
.recent-game-wrapper .match {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.recent-game{
    display: grid;
    grid-template-columns: 110px 65px 55px auto 200px 30px;
    width: 740;
    height: 100px;
    align-items: center;
    margin: auto;
    color: #24292ed0;
}
.recent-game-Win{
    background-color: #22c4d560;
    border: solid 1px #22c4d560;
    border-right: none;
}
.recent-game-Lose{
    background-color: #e5133c40;
    border: solid 1px #e5133c40;
    border-right: none;
}
.recent-game-Remake{
    background-color: #80808040;
    border: solid 1px #80808040;
    border-right: none;
}

.recent-header {
    display: grid;
    grid-template-rows: 30px 70px;
    width: 100%;
    margin: 0;
}
.recent-win {
    display: inline-flex;
    font-size: 1.2em;
    font-weight: 700;
    align-self: center;
    color: gray;
}
.recent-rect {
    width: 0px;
    height: 0px;
    border-top: solid 30px gray;
    border-right: solid 30px transparent;
}
.recent-win-text {
    text-align: left;
    margin-top: 5px;
    margin-left: 5px;
    white-space: nowrap;
}
.recent-rect.Win {
    border-top-color: #018795;
}
.recent-rect.Lose {
    border-top-color: #e5133c;
}
.recent-win.Win {
    color: #018795;
}
.recent-win.Lose {
    color: #e5133c;
}
.recent-mini {
    align-self: center;
}
.recent-type {
    font-weight: 700;
    margin-left: 35px;
    margin-bottom: 5px;
    text-align: left;
}
.recent-date {
    margin-left: 35px;
    font-size: 0.8em;
    text-align: left;
}

.icon-inline {
    width: 18px;
    height: 18px;
    margin-left: 5px;
    -webkit-filter: opacity(0.5) drop-shadow(0 0 0 #000000);
    filter: invert(85%) sepia(50%) saturate(1000%) hue-rotate(130deg) brightness(95%) contrast(50%);
}

.recent-champ {
    position: relative;
    align-content: center;
    width: 62px;
    height: 62px;
}
.recent-shadow {
    box-shadow: inset 0px 0px 0px 3px gray;
}
.recent-shadow.Win {
    box-shadow: inset 0px 0px 0px 3px #018795;
}
.recent-shadow.Lose {
    box-shadow: inset 0px 0px 0px 3px #e5133c;
}
.recent-champ-icon {
    margin: 1px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
}
.recent-champ-level {
    position: absolute;
    display: inline-flex;
    float:left;
    top: 40px;
    left: 40px;
    background-color: #24292e;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    align-items: center;
    text-align: center;
}
.text-level {
    color: white;
    font-size: 0.8em;
    width: 20px;
}

.recent-runespell{
    align-items: center;
}
.recent-rune{
    align-items: center;

    position: relative;
    width: 35px;
    height: 25px;
    text-align: left;
    margin: auto;
    margin-bottom: 6px;
}
.rune-main {
    background-color: #011925;
}

.recent-spell{
    margin: 5px;
}
.recent-spell-img{
    float: left;
    border: solid 1px #463714;
    background-color: #011925;

    width: 20px;
    height: 20px;
}
.recent-spell-first {
    border-right: none;
}

.recent-kda {
    display: grid;
    grid-template-columns: 50% 50%;

    width: 200px;
    line-height: 150%;
    /* text-align: center; */
}
.recent-kda-kda {
    display: inline-flex;
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 1.2em;
    font-weight: 700;
    margin: auto;
    margin-bottom: 5px;
    align-items: center;
}
.recent-score {
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 5px;
}
.recent-part {
    color: #c44040;
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 5px;
}
.recent-medal {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
}
.medal {
    margin: auto;
    padding: 0px 10px 0px 10px;
    background-color: #dd5656;
    border-radius: 20px;
    border: solid 1px #c44040;
}
.text-medal {
    font-size: 0.8em;
    color: white;
    font-weight: 700;
}

.recent-etc {
    display: grid;
    grid-template-columns: 50% 50%;
}
.recent-items {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-bottom: 5px;
}
.recent-cs, .recent-gold{
    display: inline-flex;
    align-items: center;
    margin-left: auto;
    font-weight: 700;
}

.recent-detail {
    height: 100%;
    background-color: gray;
    border: solid 1px gray;
    display: flex;

    cursor: pointer;
}
.recent-detail.Win {
    background-color: #22c4d560;
    border-color: #22c4d560;
}
.recent-detail.Lose{
    background-color: #e5133c40;
    
    border-color: #e5133c40;
}
.detail-arrow {
    margin: auto;
    margin-bottom: 0px;
}
.arrow-Win {
    color: #018795;
}
.arrow-Lose {
    color: #e5133c;
}

#recent-more {
    height: 100px;
    background-color: #24292e10;
    display: flex;
    cursor: pointer;
}
#recent-more:hover {
    background-color: #24292e40;
}
#recent-more:hover .icon-more {
    color: #24292e;
}
.icon-more, .icon-more-wait {
    margin: auto;
    font-size: 2em;
    color: #24292ed0;
}
.hide {
    display: none;
}

/* Charts */
#games-recent-charts {
    display: block;
}

#chart-victory-wrapper {
    position: relative;
    width: 150px;
    margin:auto;
}
#chart-victory-text {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    height: 150px;
    width: 150px;
}
#chart-victory-span {
    margin: auto;
    font-size: 1.2em;
    font-weight: 700;
    color: #24292ed0;
}