@media only screen and (max-width: 550px){
    #user-games-recent{
        display: block;
    }
    #games-recent-charts {
        display: none;
    }
    .recent-game-wrapper {
        margin-bottom: 5px;
    }
    .recent-game{
        grid-template-columns: 10px 65px 55px auto 0px 30px;
        width: 100%;
        height: 100px;
    }
    
    .recent-header {
        display: inline-flex;
        height: 100%;

        grid-column-start: 1;
        grid-column-end: 4;
    }
    .recent-win {
        margin-bottom: auto;
    }
    .recent-champ {
        grid-row-start: 2;
        grid-column-start: 2;
    }
    .recent-runespell {
        grid-row-start: 2;
        grid-column-start: 3;
    }
    .recent-kda {
        grid-column-start: 4;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .recent-detail {
        grid-column-start: 6;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .recent-rect {
        border-top: solid 15px gray;
        border-right: solid 15px transparent;
    }
    .recent-win-text {
        display: none;
    }
    .recent-mini {
        display: inline-flex;
    }
   .recent-type {
        margin: auto;
        text-align: center;
        white-space:nowrap;
        width: 60px;
    }
    .recent-date {
        margin: auto;
        width: 55px;
        white-space:nowrap;
    }
    .recent-duration {
        display: none;
    }
    
    .recent-items {
        display: none;
    }
    .recent-cs, .recent-gold{
        display: none;
    }
}