#searchbox {
    position: relative;
}

#searchbox-platform {
    width: 100%;
    height: 100%;

    appearance: none;
    -moz-appearance: none; /* Firefox */ 
    -webkit-appearance: none; /* Safari and Chrome */

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;

    border: 0;

    padding: 0;
    margin-right: 0;
    text-align-last: center;
    
    font-weight: 700;
    background-color: white;
    color:#24292e;

    cursor:pointer;
}
/* IE 기본 스타일 제거 */
#searchbox-platform::-ms-expand{
	display: none; /* IE 10, 11 */
}

#searchbox-platform option{
    color:#24292e;
}

#searchbox-box {
    width:100%;
    height: 100%;
    
    box-sizing: border-box;
    
    padding-left: 10px;
    font-weight: 700;

    border-radius: 0;
    border: 0;
}

::placeholder {
    color: 757575;
}

#searchbox-box:focus {
    outline: none;
}

#searchbox-button {
    width: 100%;
    height: 100%;

    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    
    border-style: solid;
    border-width: 1px;
    padding: 0;
    margin-left: 0;
    
    border: 0;

    font-weight: 700;
    background-color: white;
    color:#24292e;

    cursor:pointer;
}

#recent-users {
    font-size: 1.2em;
    display: none;
    position: absolute;

    background-color: white;

    top: 100%;
    left: 0px;
    width: 100%;

    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

    box-shadow: 2px 2px 2px #24292e;
}

#recent-container {
    padding: 10px;
    
}

.recent-user {
    padding: 10px;
    display: inline-flex;
    align-self: center;
    height: auto;
}

.recent-user a{
    color: #757575;
    text-decoration: none;
    font-weight: 700;

}

.recent-user a:hover {
    color: #24292e;
}

.recent-delete {
    cursor: pointer;
    color: #757575;
    font-size: 0.7em;
}

.recent-delete .fa:hover {
    color: red;
}
