body {
    background-color: #24292e;
}

#title-toolbar {
    display: grid;
    grid-template-columns: auto 100px;
    text-align: left;
}

#lang-select {
    height: 25px;
}

#title-main {
    margin-top: 200px;
}

#title-title {
    text-align: center;
    font-size:4em;
    
}

#title-title a {
    color: white;
    text-decoration: none;
}

#searchbox {
    display: grid;
    grid-template-columns: 50px 500px 50px;
    width: 600px;
    align-self:flex-end;
    margin: auto;
}

#searchbox-box {
    width: 100%;
    height: 30px;
}

#searchbox-button {
    width: 100%;
    height: 100%;
}

