@media only screen and (max-width: 900px){
    /****************** PROFILE ********************/
    #user-profile {
        display:block;
        background-color:white;
        border: none;
        padding: 0;
        padding-top: 20px;
        margin-top: 0px;
    }

    #user-profile-bio {
        margin-left: 20px;
        margin-right: 20px;
        width: calc(100% - 40px);
    }

    #user-profile-bio-img img{
        height: 60px;
        
    }

    #user-profile-bio-grid {
        grid-template-columns: auto 80px;
        grid-template-rows: auto;
        width: 100%;
    }

    #user-profile-name {
        font-size: 1.4em;
    }

    #user-ranks {
        display: grid;
        grid-template-columns: 50% 50%;
        background-color:whitesmoke;
        border-radius: 5px;
        border: 1px solid rgb(222, 222, 222);
        padding: 20px;
        margin-top: 15px;
    }


    .profile-rank img {
        height: 100px;
    }

    /********************  Period Selector *******************/

    #period {
        display: block;
        margin-top: 0;
    }

    #seasons {
        text-align: right;
    }
    
    .seasons-button {
        margin-top: 5px;
    }

    /************************* GRAPH ***********************8*/

    #username-total {
        align-self: center;
    }
    
    #user-graph-header {
        display:block;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
    }

    #graph-viewbox {
        height: 143px;
        width: auto;
    }

    .month {
        font-size:1.2em;
    }
    
    .wday {
        display: none;
    }
    .wday-simple {
        display: block;
        font-size:1.2em;
        fill:#40c463;
    }
}

@media only screen and (max-width: 550px){
    /************************ PROFILE ************************/
    #user-profile {
        margin-left: 0px;
        margin-right: 0px;
    }

    #user-profile-bio-img img{
        height: 60px;
        
    }

    #user-profile-bio {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .profile-rank img {
        height: 50px;
    }

    .text-wins, .text-losses   {font-size: 0.9em;}

    .text-tier {
        font-size: 1em;
    }

    /******************** GRAPH *********************/
    #username-total {font-size: 1.2em;}
    .period {font-size: 1em;}

    #type-check {
        display:none;
        grid-template-columns: 6.67% 26.67% 6.67% 26.67% 6.67% 26.67%;
        align-items:flex-end;
        text-align: left;
    }
    
    #user-graph-header .fa-caret-down {
        display: inline;
    }

    #period {
        display: none;
        margin-top: 0;
    }

    #period-selector {
        display: none;
    }

    #seasons {
        text-align: center;
    }

    #user-graph-grad {
        text-align: center;
    }

    /*********************** CHARTS ***********************/

    #charts {
        grid-template-columns: 200px 200px;
        height: 140px;
        overflow:auto;
    }
    
    #charts-champ-img {
        position: absolute;
        top: 44px;
        left:74px;
        height: 52px;
        width: 52px;
        border-radius: 40px;
    }
    #charts-lane-img {
        position: absolute;
        top: 50px;
        left:80px;
        height: 40px;
        width: 40px;
    }

    /******************** GAMES ********************/

    #user-games-number {font-size: 1.2em;}
}